.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
  display:inline;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container, .container-fluid {
  margin-top: 20px;
}  

.pagination>li>a, .pagination>li>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #337ab7;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}

.pagination>li>a:hover {
  background-color: #337ab7;
  color:#fff;
}

.active {
  background-color: #337ab7;
  color:#fff;
}

.arrow {
  width:36px;
  height: 36px;
}

.img-thumbnail {
  width:256px;
  height: 128px;
}

.block-right {
  position: relative;
  right:10%;
  width:30%;
}

.block-left {
  position: relative;
  left:10%;
  width:30%;
}